<% include layouts/header.ejs %>

<div class="container">
<div class="row">
			<div class="col-sm-3">
				Logo
			</div>

			<div class="col-sm-3">
				Store Locator
			</div>

			<div class="col-sm-3">
				Search Input		
			</div>

			<div class="col-sm-3">
				Cart Info
			</div>
</div>

<div class="row">
			<div class="col-sm-3">
				User Profile
			</div>

			<nav class="col-sm-9">
				Navigation
			</nav>
</div>

<div class="row">
			<div class="col-sm-3">
				Product Navigation
			</div>
			<div class="col-sm-9">
				Carousel
			</div>
</div>




<div class="row">



</div>


<div class="row">
	<button class="button-md">helofsdf sdfds fklsdjf slkf</button>
	<button class="button-lg">helofsdf sdfds fklsdjf slkf</button>
	<div class="label-date-round text-center"><h6>28</h6></div>
</div>
</div>



<% include layouts/footer.ejs %>